# Git
.git
.gitignore

# CI
.github
.gitlab-ci.yml
.travis.yml

# Docker
docker-compose.yml
Dockerfile
.dockerignore

# Node
node_modules
npm-debug.log
yarn-error.log

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db

# Testing
coverage
.nyc_output

# Misc
.env
.env.local
README.md

# Build outputs (we'll build fresh)
dist
build